---
---

// remove footer which says "generate by github pages"
@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

// can't see link very well in contrast to normal text
a {
  color: #3bb3fa;
}

a:hover {
  color: #1d77d1;
}